.card {
  width: 100%;
  display: flex;
  align-items: center;
  padding: 10px;
}

.card:hover {
  background-color: #eee;
}

.icon {
  margin: 0px 20px 0 10px;
}
.content {
  flex: 1;
}

.forwardIcon {
  font-size: 20px;
}
