.card {
  width: 100%;
  display: flex;
  align-items: center;
  padding: 10px;
}

.card:hover {
  background-color: var(--hover-default);
}

.card:focus {
  background-color: var(--hover-default);
}

.icon {
  margin: 0px 20px 0 10px;
}
.content {
  flex: 1;
}
