/* container과 error를 모두 감싸는 요소 */
.wrapper {
  flex: 1;
  width: 100%;
}
/* 메인 컨텐츠 표시 */
.container {
  position: relative;
  border: var(--border-input-normal);
  border-radius: 8px;
  height: 79px;

  transition: all 0.3s ease-in-out;
}

.container.focused {
  border: var(--border-input-focused);

  transition: all 0.3s ease-in-out;
}

.upper {
  position: absolute;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 79px;
  padding: 8px;

  transition: all 0.3s ease-in-out;
}

.upper.focused {
  padding: 0 3px;
  margin-top: 3px;
  height: 20px;

  transition: all 0.3s ease-in-out;
}

.title {
  font-size: 30px;
  font-weight: bold;

  transition: all 0.3s ease-in-out;
}

.title.focused {
  font-size: 14px;
  transition: all 0.3s ease-in-out;
}

.count {
  font-size: 14px;
  visibility: hidden;
}

.count.focused {
  visibility: visible;
}

.lower {
  margin-top: 20px;
  height: 0;
  transition: all 0.3s ease-in-out;
}

.lower.focused {
  height: 59px;
  transition: all 0.3s ease-in-out;
}

.textarea {
  width: 100%;
  padding: 3px;
  font-size: 20px;
  border: none;
  visibility: hidden;
}

.textarea.focused {
  visibility: visible;
}

/* 에러 메시지 표시 */
.error {
}
