.container {
  padding: 5px 0;
}

.slider {
  position: relative;
  border-radius: 20px;
  width: 50px;
  height: 20px;
  background-color: #ccc;
  display: flex;
  align-items: center;
}

.circle {
  position: absolute;

  border: 1px solid #ccc;
  border-radius: 40px;
  width: 30px;
  height: 30px;
  background-color: #fff;
  cursor: pointer;
}

.left {
  left: 0;
  transition: all 0.3s ease-in-out;
}

.right {
  left: 25px;
  transition: all 0.3s ease-in-out;
}
