.modal {
  position: absolute;
  border-radius: 15px;
  background-color: var(--color-background);
  color: var(--color-primary);
  border: var(--border-list);
  z-index: 1;
  width: 200px;
  overflow: hidden;
}

.container {
  position: relative;
}

.item {
  display: flex;
  align-items: center;
  padding: 5px 10px;
  gap: 5px;
  cursor: pointer;
  width: inherit;
}

.item:focus-visible {
  outline-offset: 0px;
}

.item:first-child:focus-visible {
  border-radius: 15px 15px 0 0;
  outline: var(--outline-basic);
}
.item:last-child:focus-visible {
  border-radius: 0 0 15px 15px;
  outline: var(--outline-basic);
}

.item:hover {
  background-color: #eee;
}

.text {
}
