.modal {
  position: absolute;
  border: 1px solid #ccc;
  border-radius: 15px;
  background-color: #fff;
  z-index: 1;
  width: 200px;
  overflow: hidden;
}

.container {
  position: relative;
}

.item {
  display: flex;
  align-items: center;
  padding: 5px 10px;
  gap: 5px;
  cursor: pointer;
  width: inherit;
}

.item:focus-visible {
  outline-offset: 0px;
}

.item:first-child:focus-visible {
  border-radius: 15px 15px 0 0;
  outline: 1px auto black;
}
.item:last-child:focus-visible {
  border-radius: 0 0 15px 15px;
  outline: 1px auto black;
}

.item:hover {
  background-color: #eee;
}

.text {
}
