.card {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px 10px;
}

.button {
  padding: 5px 10px;
  background-color: black;
}

.following {
  padding: 5px 10px;
}
