.container {
  display: flex;
  flex-direction: column;
}

.container:not(:last-child) {
  border-bottom: 1px solid #eee;
}

.front {
  padding-left: 10px;
  padding-right: 10px;
}

.bottom {
  padding-bottom: 10px;
}
