.empty {
  display: flex;
  flex-direction: column;
  gap: 10px;
  justify-content: center;
  align-items: center;
  margin-top: 20px; /* 위 컴포넌트와의 거리가 필요함 */
}

/*  */
.title {
  font-weight: bold;
  font-size: 20px;
}

/*  */
.description {
}
