.search-container {
  position: relative;
  width: 100%;
}

.search {
  width: 100%;
  padding: 10px 15px 10px 32px;
  border-radius: 20px;
}

.icon {
  position: absolute;
  left: 5px;
  top: 3.5px;
}
