.container {
  width: 100%;
}
.select {
  width: 100%;
  cursor: pointer;
}
.select:focus-visible {
  outline: 1px solid black;
}
.list {
  border: 1px solid #ccc;
}
.option {
  width: 100%;
  text-align: center;
  cursor: pointer;
}

.option:focus-visible {
  outline: 0;
  background-color: cornflowerblue;
  color: white;
}

.option:hover {
  background-color: cornflowerblue;
  color: white;
}

.selected {
  color: cornflowerblue;
}
