.container {
  display: flex;
  flex-direction: column;
}
.select {
  display: flex;
  gap: 10px;
  cursor: pointer;
  border: 1px solid #ccc;
}

.select:focus-visible {
  outline: var(--outline-basic);
}

.list {
  margin-top: 5px;
  border: 1px solid #ccc;
}

.option {
  display: flex;
  align-items: center;
  gap: 10px;
  cursor: pointer;
  padding: 5px 8px;
}

.option:focus-visible {
  outline: 0;
  background-color: cornflowerblue;
  color: white;
}

/* hover에서 selected 클래스 제외 */
.option:not(.selected):hover {
  background-color: cornflowerblue;
  color: white;
}

.selected {
  color: cornflowerblue;
}

.img {
  width: 20px;
  height: 15px;
}
.text {
  /* 텍스트가 너비를 넘지 못하게 */
  white-space: nowrap;
  overflow: hidden;
}
