.container {
  position: relative;
  display: flex;
  flex-direction: column;
}
.select {
  display: flex;
  align-items: center;
  padding: 8px 2.5px 8px 8px;
  cursor: pointer;
  border: 1px solid #ccc;
  border-radius: 5px;
}

/* 포커스시 스타일: 색상 설정 적용 */
.select:focus-visible {
  outline: var(--theme-outline);
}

.list {
  position: absolute;
  margin-top: 5px;
  border: 1px solid #ccc;
  border-radius: 5px;
  overflow-y: auto; /* list 길이에 따른 스크롤 자동 생성 */
  width: 100%;
  background-color: #fff;
  top: 45px;
  left: 0;
  z-index: 1;
}

.option {
  display: flex;
  align-items: center;
  padding: 8px;
  cursor: pointer;
}

.option:focus-visible {
  outline: 0;
  background-color: var(--theme-bgColor);
  color: white;
}

/* hover에서 selected 클래스 제외 */
.option:hover {
  background-color: var(--theme-bgColor);
  color: white;
}

.selected {
  color: var(--theme-color);
  background-color: var(--theme-bgColor);
}

.img {
  width: 20px;
  height: 15px;
}

.text {
  flex: 1;
  text-align: left;
  /* 텍스트가 너비를 넘지 못하게 */
  white-space: nowrap;
  overflow: hidden;
  margin-left: 10px;
}

.icon {
  transform: rotate(0deg);

  transition: transform 0.3s ease-in-out;
}

.open {
  transform: rotate(180deg);

  transition: transform 0.3s ease-in-out;
}
