html[data-colorTheme="cornflowerblue"] {
  --color-theme: cornflowerblue;
}

html[data-colorTheme="red"] {
  --color-theme: red;
}

html[data-colorTheme="green"] {
  --color-theme: green;
}

html[data-colorTheme="yellow"] {
  --color-theme: yellow;
}

html[data-colorTheme="purple"] {
  --color-theme: purple;
}

html[data-colorTheme="black"] {
  --color-theme: black;
}
