:root,
html[data-theme="light"] {
  --color-primary: black;
  --color-background: white;
  --outline-basic: 2px solid black;
  --border-modal: 2px solid transparent;
  --border-list: 2px solid black;
  --hover-icon: rgba(204, 204, 204, 0.5);
}

html[data-theme="dark"] {
  --color-primary: white;
  --color-background: black;
  --outline-basic: 2px solid white;
  --border-modal: 2px solid white;
  --border-list: 2px solid white;
  --hover-icon: rgba(170, 170, 170, 0.5);
}
