.modal {
  position: absolute;
  top: 0;
  right: 0;
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 15px;
  width: 300px;
}
/* 목록: ul */
.list {
}
/* 개별 텍스트: li */
.item {
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 5px;
}

/* 텍스트 */
.text {
  flex: 1;
}
