.settings {
  width: 100%;
}

.main {
  width: 100%;
}

.container {
  display: flex;
  flex-direction: column;
}
.item {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.card {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
