.input-container {
  padding: 15px;
  border-bottom: 1px solid #eee;
}

.recom-container {
  padding: 15px;
}

.recoms {
  display: flex;
  gap: 20px;
  margin: 20px 0;
}

.button-container {
  width: 100%;
  display: flex;
  justify-content: end;
}

.button {
  padding: 10px 15px;
  border-radius: 30px;
  cursor: pointer;
}
