.security {
  width: 100%;
}

.detail {
  font-size: 14px;
}
.main {
  width: inherit;
  margin-top: 10px;
}

.section {
  padding: 10px;
}

.item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
}

.description {
  font-size: 14px;
}
