.wrapper {
  width: 20px;
  position: relative;
  overflow: hidden;
}

.container {
  position: relative;
}

.skeleton {
  background-color: #ccc;
}

.skeleton:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 5px;
  height: 15px;
  background: linear-gradient(to right, #f2f2f2, #ddd, #f2f2f2);
  animation: loading 1s infinite linear;
}

@keyframes loading {
  0% {
    transform: translateX(0);
  }
  50%,
  100% {
    transform: translate(20px);
  }
}

.skeletonCircle {
  position: relative;
  overflow: hidden;
  background-color: #ccc;
  border-radius: 50%;
}

.skeletonCircle:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 20px;
  height: inherit;
  background: linear-gradient(to right, #f2f2f2, #ddd, #f2f2f2);
  animation: circleLoading 1s infinite linear;
}

@keyframes circleLoading {
  0% {
    transform: translateX(0);
  }
  50%,
  100% {
    transform: translateX(100px);
  }
}

.skeletonText {
  width: 100%;
  height: 20px;
  background-color: #ccc;
  border-radius: 4px;
  position: relative;
  overflow: hidden;
}

.skeletonText:last-child:not(.skeletonText:first-child) {
  width: 90%;
}

.skeletonText:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 20px;
  height: 100%;
  background: linear-gradient(to right, #f2f2f2, #ddd, #f2f2f2);
  animation: textLoading 3s infinite linear;
}

@keyframes textLoading {
  0% {
    transform: translateX(0);
  }
  50%,
  100% {
    transform: translateX(700px);
  }
}
