.skeleton {
  position: relative;
  overflow: hidden;
  background-color: #f2f2f2;
}

.skeleton:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  animation: skeleton-gradient 1.5s infinite ease-in-out;
}

.skeletonCircle {
  position: relative;
  overflow: hidden;
  background-color: #f2f2f2;
  border-radius: 50%;
}

.skeletonCircle:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  animation: skeleton-gradient 1.5s infinite ease-in-out;
}

.skeletonText {
  width: 100%;
  height: 20px;
  background-color: #f2f2f2;
  border-radius: 4px;
  position: relative;
  overflow: hidden;
}

.skeletonText:last-child:not(.skeletonText:first-child) {
  width: 90%;
}

.skeletonText:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  animation: skeleton-gradient 1.5s infinite ease-in-out;
}

@keyframes skeleton-gradient {
  0% {
    background-color: rgba(165, 165, 165, 0.1);
  }
  50% {
    background-color: rgba(165, 165, 165, 0.3);
  }
  100% {
    background-color: rgba(165, 165, 165, 0.1);
  }
}
