.changePassword {
  width: 100%;
}

.main {
  width: inherit;
}

.link {
  font-size: 12px;
  color: cornflowerblue;
}

.btnContainer {
  display: flex;
  justify-content: end;
}

.button {
  border-radius: 20px;
  padding: 10px 20px;
  background-color: cornflowerblue;
  color: white;
  cursor: pointer;
}
