.container {
  padding: 10px;
}

.current {
  padding: 10px 0;
  border-bottom: 1px solid #ccc;
}

.text {
  font-size: 12px;
}

.new {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 20px 0;
  border-bottom: 1px solid #ccc;
}

.button {
  padding: 15px 0;
  display: flex;
  justify-content: end;
}
