.toggle {
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

.track {
  position: relative;
  display: flex;
  align-items: center;
}

.btn {
  position: absolute;
  border-radius: 50%;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}
.btn:focus-visible {
  outline: 1px solid black;
}
