.container {
  display: flex;
  justify-content: center;
  align-items: center;
}
.container:hover {
  border-radius: 50%;
  background-color: rgb(204, 204, 204, 0.5);
}

.icon {
  display: flex;
  justify-content: center;
  align-items: center;
}

.button {
  cursor: pointer;
}
