.tab {
  width: 100%;
}

.list {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
}

.item {
  flex: 1;
  display: flex;
  justify-content: center;
  cursor: pointer;
}

.item:hover {
  background-color: var(--hover-default);
}

/* 포커스된 경우 */
.item:focus-visible {
  outline: var(--outline-tab);
  background-color: var(--hover-default);
}

.wrap {
  padding: 10px;
  border-bottom: 4px solid transparent;
}

/* 선택된 아이템의 경우 */
.selected {
  font-weight: bold;
  border-bottom: 4px solid var(--theme-bgColor);
}
