.modal-container {
  position: relative;
  display: flex;
  justify-content: space-between;
}

.left {
  position: relative;
}

.right {
  position: relative;
}

.button:focus-visible {
  outline: var(--outline-basic);
}

.modal:focus-visible {
  outline: var(--outline-basic);
}
